default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: bailiff_development
  user: user
  password:

test:
  <<: *default
  database: bailiff_test
